/* _biografia.scss */

.biografia {
    justify-content: center;
    width: auto;
    height: auto;
    font-family: sans-serif;
    font-size: larger;
}

.vida-priv h4 {
    padding: 4px;
    font-family: sans-serif;
}
