@import "../layout/animaciones"; 

.container-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    gap: 10px; 
    margin-top: 60px;
    margin-bottom: 60px;
}

.container-img .box-img {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}


.container-img .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fadeIn 1s ease-in-out; 
}


.container-img .box-img:nth-child(1) {
    grid-column-start: span 2;
    animation: slideUp 1s ease-out;
}

.container-img .box-img:nth-child(4) {
    grid-row-start: span 2;
    animation: scaleUp 1s ease-out;
}

.container-img .box-img:hover {
    transform: scale(1.05);
}
